.result {
  margin-top: 40px;
  width: 60%;
  background-color: #111;
  color: #e5e7eb;
  padding: 5px;
  /*border-radius: 12px;*/
  animation: fadeUp 0.5s ease;
}

@keyframes fadeUp{
  from{
    opacity: 0;
    transform: translateY(20px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

.tabContent {
  max-width: 900px;
  margin: auto;
  padding: 28px 32px;
  background: #f9fcfe;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  line-height: 1.75;
}
.tutorial {
  background: #0f172a;
  padding: 24px;
  border-radius: 16px;
  margin-top: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

.tutorial h2 {
  color: #38bdf8;
  margin-bottom: 16px;
  font-size: 22px;
  text-align: center;
}

.tutorial {
  background: #0f172a;
  padding: 24px;
  border-radius: 16px;
  margin-top: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

.tutorial h2 {
  color: #38bdf8;
  margin-bottom: 16px;
  font-size: 22px;
  text-align: center;
}

.tutorial iframe {
  border: none;
  border-radius: 12px;
}
.explanation h1,
.explanation h2 {
  margin-top: 24px;
  margin-bottom: 10px;
  color: #0f172a;
}
.explanation strong {
  color: #51a0f5;
  text-decoration: underline;
}

.explanation p {
  margin-bottom: 12px;
  line-height: 1.7;
  font-size: 16px;
  color: #0d0e0e;
}

.explanation ul {
  margin-left: 20px;
  font-size: 16px;
  color: #0d0e0e;
}

.explanation li {
  margin-bottom: 10px;
  font-size: 16px;
  color: #0d0e0e;
}